<h2> Profile Search</h2>

<div class="well">
  <div class="container-fluid">
    <div class="alert alert-danger" ng-repeat="alert in alerts">
      {{alert}}
    </div>
    <form class="form-inline" name="searchForm">
      <div class="form-group">
        <label for="txtUsername">Github Username:</label>
        <input type="text" id="txtUsername" placeholder="vvsatpute" ng-model="username" class="form-control"/>
      </div>
      <button type="submit" ng-click="searchProfile()" class="btn btn-default">Search</button>
    </form>
  </div>
</div>

  <div class="jumbotron" ng-show="user">
    <div class="row">
      <div class="col-xs-4">
        <h2>{{user.name}}</h2>
        <h3>{{user.location}}</h3>
        <h4>{{user.email}}</h4>
        <a class="label label-default" href="#/repository/{{username}}"> Repository </a>
      </div>
      <div class="col-xs-4 col-xs-push-3">
        <img class="img-thumbnail" style="height:140px;width:140px" ng-src="{{user.avatar_url}}" alt="{{user.name}}" />
      </div>
    </div>

  </div>

</div>
