<div class="well">
  <div class="container-fluid">
    <div class="alert alert-danger" ng-repeat="alert in alerts">
      {{alert}}
    </div>
    <form class="form-inline" name="searchForm">
      <div class="form-group">
        <label for="txtUsername">Github Username:</label>
        <input type="text" id="txtUsername" placeholder="vvsatpute" ng-model="username" class="form-control"/>
      </div>
      <button type="submit" ng-click="searchProfile()" class="btn btn-default">Search</button>
    </form>
  </div>
</div>
